.page-selector-wrapper{
    text-align: center;
    margin-bottom: 5px;
}
.page-selector-wrapper input{
    width: 3em;
}

.input-wrapper{
    margin:0px 5px;
}

span:not(.input-wrapper):hover{
    cursor: pointer;
    color:cornflowerblue;
}